@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(https://weloveiconfonts.com/api/?family=entypo);


.about {
  padding: 10%;
}


#intro {
  height: 80px;
  width: 120px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
  object-fit: cover;
}



.title {
  margin: 10px;
  width: 20%;
}

#btn {
  background-color: rgb(211, 211, 190);
  border: 3px solid rgb(192, 191, 191);
  border-radius: 40px;
}


.header {
  background-image:url("https://bookadriver.s3.us-east-2.amazonaws.com/Rolls%2BRoyce%2BPhantom%2BWhite%2BReg%2BPlate.jpg");
  height: 8vw;
  display: flex;
  background-position: 50%;
  right: 0;
  align-items: center;
}

#logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  align-items: left;
  font-size: 6vw;
  -webkit-text-stroke: 0.15vw rgb(252, 252, 252);
  color:rgb(151, 123, 31);
  /* text-shadow:
    3px  -2px 4px rgb(212, 212, 212), 
    1px -3px 1px rgb(201, 199, 199),
    2px -1px 2px rgb(199, 187, 187),
    0px -2px 3px rgb(202, 198, 198); */
  margin-top: 15px;
  margin-left: 15px;
}

.trip {

  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1%;
  padding: 3%;
  margin-left: 50px;
  border: 2px solid rgb(216, 213, 213);
  box-shadow: 5px 5px 5px 5px  #dad3d3;
  
 
}



#booking-time{
  color: rgb(101, 107, 139);
  font-size: 14px;
  margin: 0 10%;
}







