.nav-container {
  background-color: rgb(216, 230, 231);
  box-shadow: 0 2px 5px -2px rgb(77, 75, 75);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  right: 0;
  padding: 1vw;
  top: 0;
  z-index: 1;
  height: calc(4vh + 2vw);
}

.search-drivers {
  margin: 0 auto;
  
}

.search-drivers input {
  outline: none;
  width: 15vw;
}

#search {
  outline: none;
}

.button {
  background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
}

#logout{
  color: rgb(238, 31, 31);
  margin-left: auto;
}

.button:hover{
  box-shadow: 1px 1px 1px 1px #757272;
}

.nav-item {
  display: inline;
  font-size: calc(10px + 0.7vw);
  text-decoration: none;
  color: rgb(107, 107, 107) !important;
  line-height: 32px;
  padding: 0 1vw;
  border-right: 3px solid rgb(246, 246, 250);
}

.nav-item:hover {
   color: rgb(47, 52, 78) !important;
}

.welcome {
  display: inline;
  font-family: Lato;
  font-size: calc(10px + 0.5vw);
  color: blue;
  margin: 0 1vw;
  background-color: white;
  padding: 3px 10px;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#login {
  animation: fadeIn 1s;
}

#register {
  animation: fadeIn 1s;
}
