@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}
  
  .signup {
    padding: 10vw 0;
    height: 100vh;
  }

  .signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #creating {
    display: flex;
    font-size: calc(18px + 3vh);
    align-items: center;
    justify-content: center;
  }

  #reg-btn {
    width: 100px;
  }

