.ruler {
  
  float:right;
  width: 100px;
  height: auto;
  margin: 10px;
 }

 .ruler .hr {
  background-color: white;
  border-bottom: solid rgb(179, 199, 165);
  padding-left: 14px;
  width: 20px;
  height: 15px;
  margin-bottom:1px;
  border-radius: 2px;
  
 }


 

 .ruler .hr:after {
   
  top: -5px;
  position: relative;
  left: 20px;
  font-size: 12px;
}
.div .hr::after {
  top:0;
}
 
 .ruler .hr:nth-of-type(1) {
  top: 0%;
 }
 .ruler .hr:nth-of-type(1):after {
  content: "01";
 }
 .ruler .hr:nth-of-type(2) {
  top: 4.16%;
 }
 .ruler .hr:nth-of-type(2):after {
  content: "02";
 }
 .ruler .hr:nth-of-type(3) {
  top: 8.33%;
 }
 .ruler .hr:nth-of-type(3):after {
  content: "03";
 }
 .ruler .hr:nth-of-type(4) {
  top: 12.50%;
 }
 .ruler .hr:nth-of-type(4):after {
  content: "04";
 }
 .ruler .hr:nth-of-type(5) {
  top: 16.66%;
 }
 .ruler .hr:nth-of-type(5):after {
  content: "05";
 }
 .ruler .hr:nth-of-type(6) {
  top: 20.83%;
 }
 .ruler .hr:nth-of-type(6):after {
  content: "06";
 }
 .ruler .hr:nth-of-type(7) {
  top: 25%;
 }
 .ruler .hr:nth-of-type(7):after {
  content: "07";
 }
 .ruler .hr:nth-of-type(8) {
  top: 29.16%;
 }
 .ruler .hr:nth-of-type(8):after {
  content: "08";
 }
 .ruler .hr:nth-of-type(9) {
  top: 33.33%;
 }
 .ruler .hr:nth-of-type(9):after {
  content: "09";
 }
 .ruler .hr:nth-of-type(10) {
  top: 37.50%;
 }
 .ruler .hr:nth-of-type(10):after {
  content: "10";
 }
 .ruler .hr:nth-of-type(11) {
  top: 41.66%;
 }
 .ruler .hr:nth-of-type(11):after {
  content: "11";
 }
 .ruler .hr:nth-of-type(12) {
  top: 45.83%;
 }
 .ruler .hr:nth-of-type(12):after {
  content: "12";
 }
 .ruler .hr:nth-of-type(13) {
  top: 50%;
 }
 .ruler .hr:nth-of-type(13):after {
  content: "13";
 }
 .ruler .hr:nth-of-type(14) {
  top: 54.16%;
 }
 .ruler .hr:nth-of-type(14):after {
  content: "14";
 }
 .ruler .hr:nth-of-type(15) {
  top: 58.33%;
 }
 .ruler .hr:nth-of-type(15):after {
  content: "15";
 }
 .ruler .hr:nth-of-type(16) {
  top: 62.5%;
 }
 .ruler .hr:nth-of-type(16):after {
  content: "16";
 }
 .ruler .hr:nth-of-type(17) {
  top: 66.66%;
 }
 .ruler .hr:nth-of-type(17):after {
  content: "17";
 }
 .ruler .hr:nth-of-type(18) {
  top: 70.83%;
 }
 .ruler .hr:nth-of-type(18):after {
  content: "18";
 }
 .ruler .hr:nth-of-type(19) {
  top: 75%;
 }
 .ruler .hr:nth-of-type(19):after {
  content: "19";
 }
 .ruler .hr:nth-of-type(20) {
  top: 79.16%;
 }
 .ruler .hr:nth-of-type(20):after {
  content: "20";
 }
 .ruler .hr:nth-of-type(21) {
  top: 83.33%;
 }
 .ruler .hr:nth-of-type(21):after {
  content: "21";
 }
 .ruler .hr:nth-of-type(22) {
  top: 87.5%;
 }
 .ruler .hr:nth-of-type(22):after {
  content: "22";
 }
 .ruler .hr:nth-of-type(23) {
  top: 91.66%;
 }
 .ruler .hr:nth-of-type(23):after {
  content: "23";
 }
 .ruler .hr:nth-of-type(24) {
  top: 95.83%;
 }
 .ruler .hr:nth-of-type(24):after {
  content: "24";
 }

 