.search-container{
  padding: 5%;
}

#time-home{
  width: 150px;
  margin:2px
}

#date-home{
  width: 200px;
  margin:2px;
}

#form {
  margin-left: 5%;
}

#submit{
  margin: 2px;
  background-color: rgb(97, 150, 156);
}

#reset {
  margin: 2px;
  background-color: rgb(97, 150, 156);
}