.search-container{
  padding: 5%;
}

#time-home{
  width: 150px;
  margin:2px
}

#date-home{
  width: 200px;
  margin:2px;
}

#form {
  padding: 3% 1% 0%;
}

#submit{
  margin: 2px 1px;
  background-color: rgb(97, 150, 156);
}

#reset {
  margin: 2px;
  background-color: rgb(97, 150, 156);
}

#note {
  padding: 6%;
}

#row{
  margin-left: 3%;
}

#available{
   height: 40px;
}