
@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.driver-container {
  display: flex;
  flex-wrap: wrap;
  animation: slidein 1s;
  padding: 2%;
  background-color: rgb(252, 252, 249);
  justify-content: space-around;
  padding-top: 8vw;
}

#reviews-title {
  width: 90vw;
  margin-top: 2vw;
}

.reviewList {
  padding: 1vw;
  margin-bottom: 2vw;
  background-color: rgb(250, 254, 255);
  border: 1px solid white;
  width: 90vw;
  border-radius: 10px;
  height: 200px;
  overflow: scroll;
}


.bio {
  margin: 2% 15%;
  padding: 10px;
  text-align: center;
  margin-left: 3px;
  max-width: 480px !important;
  min-width: 480px !important;
}


.vehicle {
  margin: 5%;
  width: 450px;
  align-self: center;
  justify-self: center;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px #bdbaba;
}

.username {
  color: #658585;
  font-size: 1.4em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  
  width: 450px;
  height: 250px;
  object-fit: cover;
  }

  #profile-photo{
    float: left;
    margin: 5px;
    height: 8em;
    width: 8em;
    border-radius: 18em;
  }

  #vehicle-model {
    height: 35px;
    font-size: 20px;
    background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
    text-align: center;
    
  }

  #hourly-rate {
    color: rgb(185, 136, 121);
    font-size: 20px;
    height: 30px;
  }

  .svg-icon {
    cursor: pointer;
    border: 0;
  }
  
 
