@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

.invoice {
  position: absolute;
  animation: fadeIn 1s;
  padding: 3%;
  background-color: rgb(231, 235, 225);
  border: 5px solid rgb(253, 253, 253);
  box-shadow: 3px 30px 35px 15px  #c0c0c0;
  z-index: 1;
  top:100px;
  bottom:100px;
  left:100px;
  right:100px;
  border-radius: 5px;
  overflow: hidden;
}

#trip-details {
  margin: 5%;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#back {
  border: 0;
  background-color: rgb(231, 235, 225);
}

#trip-num {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 500;
}

#booking-time {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: 100;
}