
table {
  margin: 15px 0;
  width: 420px;
}

table th{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 1%;
  height: 40px;
  text-align: right;
  color: rgb(87, 86, 86);
}

.fake-input{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 18px;
  line-height: 24px;
  background-color: rgb(232, 241, 252);
  padding: 1% 5%;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
  height: 30px;
  width: 165px;
}



#btn {
  border-radius: 20px;
  background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
  border: 1px solid rgb(202, 202, 218);
  box-shadow: 1px 1px 1px 1px #757272;
  width: 420px;
  cursor: pointer;
}

#btn:hover {
    box-shadow: 0px 7px 4px -2px rgba(0,0,0,0.2), 
                0px 9px 7px 0px rgba(0,0,0,0.14), 
                0px 4px 12px 0px rgba(0,0,0,0.12);
  }

#btn:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

