#vehicle {
  width: 40%;
}

.driver-brief {
  height: 120px;
  display: flex;
  margin: 8px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #f1f0f0;
}

#select {
  margin: 3%;
  border-radius: 10px;
  background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
  border: 1px solid rgb(209, 197, 175);
  box-shadow: 1px 1px 1px 1px #757272;
}

#img {
  
  height: 80px;
  width: 80px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
  border-radius: 50%;
}

#total {
  width: 50px;
}