.driver-container {
  padding: 2%;
}

.driver-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4%;
  
}


#back {
  width: 60px;
  margin-bottom: 50px;
  background-color: rgb(213, 221, 236);
  border-radius: 30px;
  border: 1px solid rgb(194, 180, 180);
}

.bio {
 display: grid;
 grid-template-columns: 180px 270px;
 margin-left: 3px;
 max-width: 450px !important;
 min-width: 450px !important;
}

#description {
  grid-area: 1/2/2/3;
  padding-left: 3%;
  text-align: center;
}

.vehicle {
 margin-bottom: 5px;
 padding: 1%;
}

.username {
  color: #658585;
  font-size: 1.4em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  border-radius: 5px;
  width: 450px;
  height: 250px;
  object-fit: cover;
  box-shadow: 2px 2px 3px 3px #bdbaba;
  }

  #profile-photo{
    float: left;
    margin-top: 2px;
    height: 10em;
    width: 10em;
    border-radius: 18em;
  }

  .driver-card h5 {
    color: white;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(98, 112, 126);
    text-align: center;
    max-height: 35px;
  }

  .svg-icon {
    width: 3em;
    height: 3em;
    cursor: pointer;
  }
  
  .svg-icon:hover{
    stroke: #678fbe;
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #a5b6ce;
  }
 
