
@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.driver-container {
  animation: slidein 1s;
  padding: 2%;
  background-color: rgb(252, 252, 249);
}

.driver-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4%;
  
}


#back {
  width: 60px;
  margin-bottom: 50px;
  background-color: rgb(213, 221, 236);
  border-radius: 30px;
  border: 1px solid rgb(194, 180, 180);
}

.bio {
 display: grid;
 grid-template-columns: 180px 270px;
 margin-left: 3px;
 max-width: 480px !important;
 min-width: 480px !important;
}

#description {
  grid-area: 1/2/2/3;
  padding: 10px;
  text-align: center;
}

.vehicle {
 margin: 5px 0;
 border-radius: 5px;
 box-shadow: 2px 2px 3px 3px #bdbaba;
}

.username {
  color: #658585;
  font-size: 1.4em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  
  width: 450px;
  height: 250px;
  object-fit: cover;
  }

  #profile-photo{
    float: left;
    margin: 5px;
    height: 8em;
    width: 8em;
    border-radius: 18em;
  }

  #vehicle-model {
    height: 35px;
    font-size: 20px;
    background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
    text-align: center;
    
  }

  #hourly-rate {
    color: rgb(185, 136, 121);
    font-size: 20px;
    height: 30px;
  }

  .svg-icon {
    cursor: pointer;
    border: 0;
  }
  
 
