.trip-history {
  margin: 3%;
}

.trip-container {
  border: 1px solid rgb(241, 241, 241);
}

#trip-header {
  background-color: rgb(241, 245, 248);
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

.user {
  margin: 50px;
  padding: 2% 10%;
}

.user h5 {
  margin-top: 40px;
}

#date {
  margin-left:10em;
}

#trip-body {
  margin: 3%;
}

#trip-body button{
  margin-left: 80%
}
