.nav-container {
  box-shadow: 0 2px 5px -2px rgb(226, 226, 226);
  margin-bottom: 5px;
  /* background-image: linear-gradient(to bottom, rgb(150, 150, 150), #494747); */
}

#logout{
  background-color: rgb(173, 152, 137);
}

.search-drivers {
  margin-left: 30%;
  flex-wrap: nowrap !important;
}

.search-drivers Button {
    margin: 1px;
    background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
}

#bttn {
   color: rgb(238, 31, 31);
   background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
   position: absolute;
   right: 10px;
   top: 10px;
}

#bttn:hover{
  box-shadow: 1px 1px 1px 1px #757272;
}

.nav-btn{
  color: rgb(107, 107, 107) !important;
}

.nav-btn:hover {
   color: rgb(47, 52, 78) !important;
}