.nav-container {
  background:linear-gradient(0.6turn, #c4bfb1, #e2ded7, #c7c2bb);
}

.search-drivers {
  margin-left: 30%;
  flex-wrap: nowrap !important;
}

.search-drivers Button {
    margin: 1px;
    background:linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
}