.review-form { 
  margin: 3%;
 
}



#review button {
  border-radius: 3px;
  background:linear-gradient(0.3turn, #c5bc97, #eee5cb, #c7ac8b);
}

#review textarea {
  height: 150px;
  width: 100%;
  text-decoration: none;
  outline: none;
  border: 1px solid silver;
}

#review:focus {
  outline: none;
}


