.trip-container {
  padding: 10px;
  position: relative;
  width: 60vw;
  margin: 2% auto;
  border-radius: 5px;
  z-index: 0;
  border-bottom: 1px solid rgb(206, 206, 206);
  color: rgb(58, 69, 83);
}

.trip-container:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}

.fixed {
  color: rgb(58, 69, 83);
  position: fixed;
  top: 12vh;
  left:10%;
  right:10%;
  margin: 2%;
  box-shadow: 1px 3px 10px 5px rgb(204, 207, 207);
  z-index: 2;
}

.fixed #trip-header {
  border-radius: 0;
  background-color: rgb(233, 232, 224);
}

.fixed #trip-header:hover {
  background-color: rgb(222, 226, 226);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}

#trip-header {
  background-color: rgb(248, 249, 250);
  padding: 1%;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
}

.trip-date {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(5px + 0.8vw);
  margin-top: auto;
  padding: 5px 1vw;
}

#trip-body {
  font-size: calc(5px + 0.7vw);
  line-height: 40px;
  animation: slidein 0.5s;
  background-color: rgb(255, 255, 255);
  padding: 0 3%;
  height: 420px;
}

#trip-body button{
  margin-left: 80%
}

.review-body {
  font-size: calc(5px + 0.7vw);
  line-height: 18px;
  padding: 3%;
  background-color: rgb(248, 248, 242);
  position: absolute;
  border-radius: 25px;
  margin: 2%;
  top: 70px;
  left: 50%;
  max-height: 200px;
  overflow: scroll;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#trip-img {
  animation: fadeIn 1s;
  height: calc(10px + 5vw);
  width: calc(10px + 5vw);
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #757272;
  border-radius: 50%;
}