@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

.trip-container {
  padding: 10px;
  position: relative;
  width: 60vw;
  margin: 2% auto;
  border-radius: 5px;
  z-index: 0;
  border-bottom: 1px solid rgb(206, 206, 206);
  color: rgb(58, 69, 83);
}

.trip-container:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
  transform: translate(-1px, -1px);
  transition: transform 0.5s,box-shadow 0.5s;
}

.fixed {
  animation: fadeIn 0.3s;
  color: rgb(58, 69, 83);
  position: fixed;
  top: 12vh;
  left:10%;
  right:10%;
  margin: 2%;
  box-shadow: 1px 3px 10px 5px rgb(204, 207, 207);
  z-index: 2;
}

.fixed #trip-header {
  border-radius: 0;
  background-color: rgb(233, 232, 224);
  cursor: auto;
}

#trip-header {
  display: flex;
  background-color: rgb(248, 249, 250);
  padding: 1%;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

.review-form-container {
  position: absolute;
  right: 15px;
  top: 40px;
  left: 50%;
  min-height: 100px;
}

.trip-date {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(5px + 0.8vw);
  padding: 5px 1vw;
}

#trip-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(5px + 0.7vw);
  line-height: 40px;
  animation: fadeIn 0.5s;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  height: 420px;
}

#trip-body button {
  width: 90px !important;
  height: 25px !important;
  font-size: 14px;
  line-height: 10px;
  margin-left: auto;
  margin-top: auto;
  border-radius: 3px;
  background:linear-gradient(0.3turn, #c5bc97, #eee5cb, #c7ac8b);
  border: 1px solid rgb(209, 197, 175);
  box-shadow: 1px 1px 1px 1px #757272;
}

#trip-body button:hover {
   color: rgb(238, 31, 31);
}

.add-review {
  margin-left: 80%;
  cursor: pointer;
  font-weight: 600;;
  color: rgb(88, 165, 238);
}

.review-body {
  font-size: calc(5px + 0.7vw);
  line-height: 18px;
  padding: 3%;
  background-color: rgb(248, 248, 242);
  position: absolute;
  border-radius: 25px;
  margin: 2%;
  top: 70px;
  left: 50%;
  max-height: 200px;
  overflow: scroll;
}

#trip-img {
  animation: fadeIn 0.3s;
  height: calc(10px + 5vw);
  width: calc(10px + 5vw);
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #757272;
  border-radius: 50%;
}

#close {
  cursor: pointer;
  border-radius: 20px;
  padding: 4px;
}

#close:hover {
  background-color: rgb(241, 247, 241);
}