.trip-container {
  position: relative;
  min-width: 800px;
  margin: 2%;
  border-radius: 5px;
  z-index: 0;
}

.trip-container:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}

.fixed {
  position: fixed;
  top: 0;
  left:10%;
  right:10%;
  margin: 2%;
  box-shadow: 10px 10px 30px 30px rgb(146, 143, 143);
  z-index: 2;
}

#trip-header {
  background-color: rgb(236, 240, 241);
  padding: 1%;
  cursor: pointer;
}

#date {
  margin-left:10em;
}

#trip-body {
  animation: slidein 0.5s;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  height: 420px;
}

#trip-body button{
  margin-left: 80%
}

.review-body{
  padding: 3%;
  background-color: rgb(235, 245, 243);
  position: absolute;
  border-radius: 25px;
  margin: 2%;
  top: 70px;
  left: 50%;
  max-height: 200px;
  overflow: scroll;
}