@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

.day {
  width: 65px;
  margin: 50px;
  min-height: 480px !important;
  max-height: 480px !important;
}

.book {
  margin: 50px 10px;
  min-width: 450px !important;
  max-width: 500px !important;
  min-height: 460px !important;
  padding: 3%;
}

.calendar .calendar-week {
 
}

.calendar .calendar-week span {
  color: white;
  flex-direction: column;
  flex: 0 0 14.28%;
  font-size: 0.8em;
  font-weight: bold;
  max-width: 14.28%;
  padding: 7px 0px;
  text-align: center;
  /* text-transform: uppercase; */
}




#profile-photo {
  float: left;
  margin: 5px;
  height: calc(10px + 5vw);
  width: calc(10px + 5vw);
  border-radius: 18em;
}

#vehicle-model {
  height: calc(15px + 1vw);
  width: calc(250px + 10vw);
  font-size: calc(10px + 0.5vw);
  background: linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
  text-align: center;
}

.car-photo {
  width: calc(250px + 10vw);
  height: calc(150px + 6vw);
  object-fit: cover;
}

#hourly-rate {
  color: rgb(185, 136, 121);
  font-size: 20px;
  height: 30px;
}

.svg-icon {
  cursor: pointer;
  border: 0;
}

.star {
  width: 15px;
  margin-bottom: 15px;
}
