@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

.driver-card {
  width: 50vw;
  min-height: 300px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}


#profile-photo {
  float: left;
  margin: 5px;
  height: calc(25px + 5vw);
  width: calc(25px + 5vw);
  border-radius: 18em;
}

#vehicle-model {
  height: calc(15px + 1vw);
  width: calc(300px + 12vw);
  font-size: calc(10px + 0.5vw);
  background: linear-gradient(0.3turn, #948b68, #d1c5a4, #a88b68);
  text-align: center;
}

.reviews-list {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 10vw;
  right: 10vw;
  animation: fadeIn 1s;
  max-height: 500px;
  overflow: scroll;
  width: 80vw;
  border: 15px solid white;
  border-radius: 20px;
  background-color:  rgb(247, 243, 243);
  box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.2), 
              0px 9px 15px 3px rgba(0,0,0,0.14), 
              0px 4px 16px 1px rgba(0,0,0,0.12);
}

.car-photo {
  width: calc(300px + 12vw);
  height: calc(150px + 6vw);
  object-fit: cover;
}

#hourly-rate {
  color: rgb(185, 136, 121);
  font-size: 20px;
  height: 30px;
}

.svg-icon {
  cursor: pointer;
  border: 0;
}

.star {
  width: 15px;
  margin-bottom: 15px;
}

table {
  margin: 15px 0;
  width: 420px;
}

table th {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 1%;
  height: 40px;
  text-align: right;
  color: rgb(15, 15, 15);
}

#back {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.day {
  width: 65px;
  margin: 0 2vw;
  min-height: 480px !important;
  max-height: 480px !important;
}

#booking-form {
  margin: 100px 3vw 0 3vw;
  max-width: 460px;
}
