
.search-drivers {
  margin: 0 auto;
}

.search-drivers input {
  outline: none;
  width: 15vw;
}

#search {
  margin: 2px;
  outline: none;
}

#logout {
  margin-left: auto;
}

#logout:hover{
  color: rgb(238, 31, 31);
}

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#login {
  animation: fadeIn 1s;
}

#register {
  animation: fadeIn 1s;
  margin-left: 3px;
}

#search-box {
  width: calc(100px + 5vw)
}
