
.search-drivers {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  max-height: 30px;
  width: calc(90px + 5vw);
  height: calc(18px + 1vw);
  align-items: center;
}

.search-drivers input {
  outline: none;
  border: none;
  font-size: calc(10px + 0.5vw);
  width: calc(50px + 5vw);
  height: calc(12px + 1vw);
}

.search-drivers img {
  width: calc(15px + 0.7vw);
  margin: 1%;
  cursor: pointer;
}

#search {
  margin: 2px;
  outline: none;
}

#logout {
  margin-left: auto;
}

#logout:hover{
  color: rgb(238, 31, 31);
}

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#login {
  animation: fadeIn 1s;
}

#register {
  animation: fadeIn 1s;
  margin-left: 3px;
}

#search-box {
  width: calc(100px + 5vw)
}
