#welcome-message {
  width: 20vw !important;
  position: absolute;
  left: 20vw;
}

#nav-items {
  width: 25vw !important;
  position: absolute;
  left: 40vw;
}

.search-drivers {
  position: absolute;
  left: 66vw;
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  max-height: 30px;
  width: calc(50px + 8vw);
  height: calc(18px + 1vw);
  align-items: center;
}

.search-drivers input {
  outline: none;
  border: none;
  font-size: calc(8px + 0.5vw);
  width: calc(25px + 7vw);
  height: calc(5px + 1.2vw);
}

.search-drivers img {
  width: calc(15px + 0.7vw);
  margin: 1%;
  cursor: pointer;
}

#search {
  margin: 2px;
  outline: none;
}

#logout {
  margin-left: auto;
  width: calc(60px + 2vw);
}

#logout:hover{
  color: rgb(238, 31, 31);
}

@keyframes fadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}

#login {
  animation: fadeIn 1s;
  width: calc(40px + 2vw);
}

#register {
  animation: fadeIn 1s;
  width: calc(60px + 2vw);
}

#search-box {
  width: calc(100px + 5vw)
}

.logInOut {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 80vw;
  justify-content: flex-end;
  width: 20vw;
}