@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(https://weloveiconfonts.com/api/?family=entypo);

.driver-icon {
  
  height: 120px;
  margin: 1%;
  display: flex;
  border-top: 2px solid rgb(230, 242, 248)
  
}

.about {
  padding: 10%;
}


#intro {
  height: 80px;
  width: 120px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
  object-fit: cover;
}



.title {
  margin: 10px;
  width: 20%;
}

#btn {
  background-color: rgb(211, 211, 190);
  border: 3px solid rgb(192, 191, 191);
  border-radius: 40px;
}


.header {
  background-image:url("https://i.ytimg.com/vi/x0UNhUfgVk0/maxresdefault.jpg");
  height: 12vw;
  display: flex;
  background-position: 50%;
  right: 0;
}

#logo {
  font-family: "Coda", sans-serif;
  align-items: left;
  font-size: 6vw;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color:rgb(122, 122, 122);
  text-shadow:
      0px 0px 0 rgb(235, 235, 235),
    -2px -3px 0 rgb(241, 241, 241),  
     4px -3px 0 rgb(233, 233, 233),
     0px -3px 0 rgb(230, 230, 230),
      0px -2px 0 rgb(233, 233, 233);
  margin-top: 15px;
  margin-left: 15px;
}

.trip {

  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1%;
  padding: 3%;
  margin-left: 50px;
  border: 2px solid rgb(216, 213, 213);
  box-shadow: 5px 5px 5px 5px  #dad3d3;
  
 
}

#img {
  
  height: 80px;
  width: 80px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
}

.invoice {
  background-color: rgb(250, 248, 245);
  border: 10px solid rgb(253, 253, 253);
  box-shadow: 2px 2px 5px 5px  #a39f9f;
  position: absolute;
  z-index: 1;
  margin: 10%;
  border-radius: 5px;
  padding: 5%;
  width: 75% !important;
}

.invoice button {
  margin-top: 100px
}

.list {
  padding: 10%;
}