@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(https://weloveiconfonts.com/api/?family=entypo);

.driver-list {
  
  height: 120px;
  margin: 10px;
  display: flex;
  border-top: 2px solid rgb(230, 242, 248)
  
}


#intro {
  height: 80px;
  width: 120px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
  object-fit: cover;
}



.title {
  margin: 10px;
}

#btn {
  background-color: rgb(211, 211, 190);
  border: 3px solid rgb(192, 191, 191);
  border-radius: 40px;
}


.nav-container {
  margin-bottom: 1%;
}

.header {
  background-image:url("https://i.ytimg.com/vi/x0UNhUfgVk0/maxresdefault.jpg");
  height: 120px;
  display: flex;
  background-position: 50%;
  
}

#logo {
  font-family: "Coda", sans-serif;
  align-items: left;
  color: rgb(0, 0, 0);
  font-size: 500%;
  text-shadow: 4px 4px #e8eaf1;
  margin-top: 15px;
  margin-left: 15px
  
  
}

.trip {

  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1%;
  padding: 3%;
  margin-left: 50px;
  border: 2px solid rgb(216, 213, 213);
  box-shadow: 5px 5px 5px 5px  #dad3d3;
  
 
}

#img {
  
  height: 80px;
  width: 80px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #757272;
}

.invoice {
  background-color: rgb(223, 219, 213);
  border: 15px solid rgb(253, 253, 253);
  padding: 10%;
  box-shadow: 5px 5px 5px 5px  #6e6b6b;
  position: absolute;
  z-index: 5;
  margin-bottom: 50px;
}