.driver-container {
    padding: 2vw;
   
  
}

.driver-card {
  padding-left: 5vw;
  display: grid;
  grid-template-rows: 80px 400px;
  grid-template-columns: 460px auto;
  
}

@media screen and (max-width: 1020px) {
    .driver-card {
      display: flex;
      flex-direction: column;
    }
}


#back {
  grid-area: 1/1/2/2;
  width: 60px;
  margin-bottom: 50px;
}

.bio {
 grid-area: 2/1/2/2;
 margin-left: 10px;
 max-width: 450px !important;
}

#description {
  float:right
}

.vehicle {
 grid-area: 2/2/2/2;
}

.username {
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  border-radius: 5px;
  margin: 1%;
  width: 440px;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px #bdbaba;
  }

  #profile-photo{
    margin: 1em;
    padding: .7em;
    float: left;
    margin-top: .3em;
    height: 12em;
    width: 12em;
    border-radius: 18em;
  }
