.driver-container {
  display: grid;
  grid-template-rows: 80px 400px auto;
  grid-template-columns: 500px auto auto;
  padding: 3%;
  
}


#back {
  grid-area: 0/0/1/1;
  width: 60px;
  margin-bottom: 50px;
}

.bio {
 grid-area: 2/1/3/2;

}

#description {

  float:right
}

.vehicle {
 grid-area: 2/3/3/5;

}

.username {
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  
  margin: 1%;
  width: 450px;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px #bdbaba;
  }

  #profile-photo{
    margin: 1em;
    padding: .7em;
    float: left;
    margin-top: .3em;
    height: 12em;
    width: 12em;
    border-radius: 18em;
  }
