.driver-container {
    padding: 3%;
   
  
}

.driver-card {
  
  display: grid;
  grid-template-rows: 80px 400px;
  grid-template-columns: 600px auto;
  
}


#back {
  grid-area: 1/1/2/2;
  width: 60px;
  margin-bottom: 50px;
}

.bio {
 grid-area: 2/1/2/2;
 margin-left: 50px;
}

#description {

  float:right
}

.vehicle {
 margin-left: 80px;
 padding: 3%;
 grid-area: 2/2/2/2;

}

.username {
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.car-photo {
  
  margin: 1%;
  width: 450px;
  height: 250px;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px #bdbaba;
  }

  #profile-photo{
    margin: 1em;
    padding: .7em;
    float: left;
    margin-top: .3em;
    height: 12em;
    width: 12em;
    border-radius: 18em;
  }
